:root {
  --fc-small-font-size: 0.85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #5a5a5a;
  --fc-button-bg-color: #cccccc;
  --fc-button-hover-bg-color: #bfffefc6;
  --fc-button-active-bg-color: #2ec4b6;

  --fc-today-bg-color: #2ec4b633;

  --fc-first-event-bg-color: #e6f3ff;
  --fc-first-event-text-color: #0084ff;

  --fc-second-event-bg-color: #e6f8eb;
  --fc-second-event-text-color: #00ba34;

  --fc-third-event-bg-color: #fff5e8;
  --fc-third-event-text-color: #ff9f2d;

  --fc-fourth-event-bg-color: #ffebeb;
  --fc-fourth-event-text-color: #e92c2c;

  --fc-event-border-color: #0ea5e9;
}

.fc-button {
  color: var(--fc-button-text-color);
  background-color: var(--fc-button-bg-color);
  border-radius: 4px !important;
  padding: 0.5rem 1.5rem !important;
}

.fc-button-active {
  color: #ffffff !important;
  background-color: var(--fc-button-active-bg-color);
}

.fc .fc-button-primary {
  border: none !important;
  box-shadow: none !important;
}

.fc-today-button {
  background-color: var(--fc-button-active-bg-color) !important;
  color: var(--fc-event-text-color) !important;
}

.fc-button-group {
  gap: 0.5rem !important;
}

.fc-toolbar-title {
  text-transform: capitalize;
  font-weight: 400;
}

.fc-h-event {
  background: none;
  border: none;
  max-width: fit-content;
}

.fc-daygrid-event-harness:nth-child(1) .fc-event-main {
  background-color: var(--fc-first-event-bg-color);
  color: var(--fc-first-event-text-color);
  border-radius: 4px;
  padding: 2px 3px;
}

.fc-daygrid-event-harness:nth-child(2) .fc-event-main {
  background-color: var(--fc-second-event-bg-color);
  color: var(--fc-second-event-text-color);
  border-radius: 4px;
  padding: 2px 3px;
}

.fc-daygrid-event-harness:nth-child(3) .fc-event-main {
  background-color: var(--fc-third-event-bg-color);
  color: var(--fc-third-event-text-color);
  border-radius: 4px;
  padding: 2px 3px;
}

.fc-daygrid-event-harness:nth-child(4) .fc-event-main {
  background-color: var(--fc-fourth-event-bg-color);
  color: var(--fc-fourth-event-text-color);
  border-radius: 4px;
  padding: 2px 3px;
}

.fc-v-event {
  border: none;
  border-left: 4px solid var(--fc-event-border-color);
  padding: 5px;
}

.fc-v-event .fc-event-time {
  color: #0369a1;
  font-weight: 500;
}

.fc-daygrid-event {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.fc-daygrid-block-event .fc-event-time {
  display: none;
}

.fc-daygrid-block-event .fc-event-title {
  font-weight: 700;
}

.fc-v-event .fc-event-title {
  font-weight: 700;
  color: #0369a1;
}

/* Optional style for making events clickable */
.clickable-event {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.clickable-event:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Optional style for making dayGrids clickable */
.clickable-day {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.clickable-day:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Light blue hover effect */
}
