::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background: #babac0;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a5;
}

.rdp-today {
  background-color: #2ec4b6;
  color: #fff !important;
  border-radius: 100%;
}

.rdp-month_caption {
  justify-content: center;
}
