::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background: #babac0;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a5;
}
